*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
}

/* Container for the squares */
.squares-container {
	padding: 0;
	margin: 6em auto; /* Center the container vertically */
	width: 80%; /* Set the width of the container */
	max-width: 1100px; /* Limit the maximum width */
	display: flex;
	flex-wrap: wrap; /* Allow squares to wrap to the next line */
	gap: 0.7em; /* Space between grid items */
	display: flex;
	justify-content: center; /* Center the items horizontally */
	align-items: center; /* Center the items vertically */
}

/* Media query for small screen */
@media (max-width: 600px) {
	.squares-container {
		margin: 3em auto; /* Center the container vertically */
		width: 95%; /* Set the width of the container */
	}
}

/* Styling for individual squares */
.square {
	width: 2.375em; /* Width of the square */
	height: 2.375em; /* Height of the square */
	background-color: #ffffff; /* Background color of the square */
	font-family: Arial, Helvetica, sans-serif; /* Monospace font styling */
	font-size: 2rem;
	letter-spacing: 0.1em; /* Increase letter spacing */
	line-height: 1em; /* Increase line spacing */
	font-weight: bold; /* Make font bold */
	color: #ffffff; /* Font color */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.square:hover {
	cursor: pointer; /* Change cursor to pointer on hover */
}

.square img {
	display: block; /* Removes any default inline spacing */
	width: 70%; /* Set the width of the image */
	max-height: 100%; /* Ensures the image is not wider than the square */
	max-height: 100%; /* Ensures the image is not taller than the square */
	object-fit: contain; /* Ensures the image maintains aspect ratio without stretching */
	margin: auto; /* Additional measure to center the image */
}

.big img{
	width: 85%;
}

.small img{
	width: 60%;
}

.control-square {
	background-color: #2c2e35;
}

.square.placeholder {
    background-color: #cacbcc;
}

.social-square {
	background-color: #95969a;
}

.urban-planning {
	background-color: #a9d252;
}

.single-building {
	background-color: #93dbe0;
}

.installation {
	background-color: #ffce36;
}

.activity {
	background-color: #ffadc3;
}

.transformation {
	background-color: #ffadc3;
}

.interior-work {
	background-color: #ffa937;
}

/* Pop-up styles */
.generic-popup {
	position: fixed;
	width: 300px; 
	height: 300px;
	display: flex;
	justify-content: left;
	align-items: left;
	text-align: left;
	z-index: 10; /* High z-index to be on top */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Optional: Shadow for 3D effect */
	overflow: auto; /* Enable scrolling if content exceeds the box */
}

.popup-content {
	margin: 0;
	padding: 0;
	background-color: rgba(111, 111, 111, 0.8);
	color: #ffffff; /* Ensure text is visible against potentially dark bg */
}

.popup-close {
	background: none;
	border: none;
	color: #ffffff;
	font-size: 1.5rem;
	position: absolute;
	padding: 0;
	margin: 0;
}

.project-button{
	background: none;
	border: none;
	color: #ffffff;
	font-size: 1.5rem;
	padding: 0;
	margin: 0;
}

.popup-data th, .popup-data td {
	text-align: left;
}

.popup-hidden {
	display: none;
}

.popup-image {
    background-size: cover;
    background-position: center;
}

/* Legend styles */
.legend-entry {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em; /* Space between entries */
}

.legend-color {
    width: 20px; /* Size of the square */
    height: 20px; /* Size of the square */
    display: inline-block;
    margin-right: 0.5em; /* Space between the square and the text */
}

.legend-text {
    font-size: 0.9rem; /* Adjust text size as needed */
    color: #333; /* Text color, adjust as needed */
}
