/* styles.css */
*,
*::before,
*::after {
	box-sizing: inherit;
}

body, html {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	padding: 0;
	margin: 4em auto; /* Center the container vertically */
	width: 70%; /* Set the width of the container */
	max-width: 900px; /* Limit the maximum width */
	display: flex;
	flex-wrap: wrap; /* Allow squares to wrap to the next line */
	gap: 0.7em; /* Space between grid items */
	justify-content: center; /* Center the items horizontally */
	align-items: center; /* Center the items vertically */
}

.header {
    position: relative; /* Ensures the header is the positioning context */
    width: 100%; /* Full width */
    height: auto; /* Auto height based on content */
}

.image-overlay-container {
    display: flex; /* Use flexbox for easy alignment */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    width: 100%; /* Ensure the container takes up the full width */
    height: 33vh; /* Maximum height of the container */
    overflow: hidden; /* Hide any part of the image that exceeds the container size */
    position: relative; /* Ensures the overlay and other elements are positioned correctly */
}

.img-overlay {
    width: 100%; /* Ensures the image covers the container */
    display: block; /* Removes bottom space/gap */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); /* Semi-transparent black overlay */
    z-index: 1; /* Ensure it is above the image but below the text */
}

.overlay-text {
    position: absolute;
    bottom: 2em; /* Position from the bottom */
    left: 2em; /* Position from the left */
    color: white; /* Text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Black shadow for legibility */
    z-index: 2; /* Ensures text is above the overlay */
    margin: 0; /* Removes default margins */
    padding: 0; /* No padding around the text */
}

.overlay-button {
    position: absolute;
    top: 1em; /* Position from the top */
    right: 1em; /* Position from the right */
    padding: 0.25em; /* Padding inside the button */
    width: 5em; /* Ensure the button has equal width and height */
    height: 5em; /* Ensure height matches width for circle */
    border-radius: 50%; /* Ensure the circular shape */
    background-color: transparent; /* Transparent background */
    z-index: 3; /* Ensures button is above the overlay */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle shadow for better visibility */
}

.transparent-button{
    background-color: transparent;
    box-shadow: none;
}

.back-home-button {
    width: 7em;  /* Set equal width and height to create a square */
    height: 7em; 
    border-radius: 50%; /* This makes the element circular */
    display: flex; /* Flexbox for centering the content */
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    background-color: #ffffff; /* Make background transparent to match the circular logo */
    border: 2px solid #ffffff; /* Add a border around the button */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition for hover effects */
}

.back-home-button:hover {
    background-color: rgba(255, 255, 255, 0.9); /* Optional hover effect */
    border-color: #ffffff; /* Change the border color on hover */
}

.back-home-button img {
    width: 100%; /* Ensure the image fits the container */
    height: auto;
    border-radius: 50%; /* Make the image itself circular */
}

.language-button {
    top: auto;
    bottom: 1em; /* Position from the top */
    width: 3em; /* Width of the button/icon */
    height: 3em; /* Height of the button/icon */
}

.language-option {
    padding: 10px;
    cursor: pointer;
}
  
.language-option:hover {
background-color: #f0f0f0;
}

.language-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 4;
  }

.text-section {
    background-color: #f0f0f0;
    padding: 2em;
}

.table-and-map-container {
    display: flex;
    width: 100%;
    align-items: flex-start; /* Align items at the start of the container */
    gap: 1em; /* Add space between the table and the map */
}

.table-wrapper {
    flex: 1;
    position: relative;
    z-index: 1;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 30vh;
    border: 3px solid #ccc;
    background: linear-gradient(to bottom, transparent, white 70%); /* Background gradient for a fading white effect */
}

.table-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), transparent);
    display: block;
    z-index: 3; /* Higher z-index to ensure it's above the table content but below the expand button */
}

.table-wrapper.expanded::after {
    display: none; /* Hide the overlay when the table is expanded */
}

.table-container {
    overflow-y: auto;
}

.table-controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2; /* Ensure buttons are always clickable */
}

.table-control-button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.table-and-map-container > #osm-map {
    min-height: 30vh;
}

.table-container, #osm-map {
    flex: 1; 
    z-index: 1;
}

.table-container table {
    width: 100%; /* Full width of the entries div */
    border-collapse: collapse;
}

.table-container td {
    padding: 8px;
    border: 1px solid #ccc; /* Add borders to cells */
}

.phase-image {
    width: 100%; /* Image must fill the full width of the container */
    height: 100%; /* Image must try to fill the full height but will be cropped due to container overflow */
    object-fit: cover; /* Ensures the image covers the area without stretching */
    position: absolute; /* Position it relative to its container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Align the center of the image with the center of the container */
}

.video{
    width: 100%;
    min-height: 45vh;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensures that elements are spaced out evenly */
    gap: 10px; /* Sets gap between rows and columns */
    width: 100%; /* Full width of the container */
}

.image-gallery a {
    width: calc(33.33% - 6.7px); /* Adjust width considering 10px gap */
    display: block; /* Treats the link as a block, enabling width and height settings */
    text-decoration: none; /* Removes underline from links */
}

.image-gallery img {
    width: 100%; /* Ensures the image fills the anchor tag */
    display: block; /* Removes bottom space/gap below the images */
    height: auto; /* Maintains aspect ratio */
}

.footer {
    margin-top: 2em;
    width: 100%;
    background-color: #f8f8f8; /* Optional background color */
}

.footer .navigation {
    display: flex;
    justify-content: space-between; /* Ensures buttons are equally distributed */
    align-items: center;
    width: 100%;
    border-top: 2px solid #000; /* Optional top border */
}

.footer-button {
    flex: 1; /* Each button will take up 33% of the available width */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em; /* Padding for the button */
    border: 2px solid black; /* Border around each button */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    background-color: #fff; /* Background color of the buttons */
    transition: background-color 0.3s ease; /* Smooth hover transition */
}

.footer-button img {
    width: 50px; /* Width of the image inside the button */
    height: auto;
}

.footer-button:hover {
    background-color: #e0e0e0; /* Background color change on hover */
}

.footer-button:not(:last-child) {
    border-right: none; /* Remove right border between buttons to "attach" them */
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        margin: 2em auto;
    }

    .overlay-text {
        bottom: 0.5em; /* Position from the bottom */
        left: 0.5em; /* Position from the left */
    }

    .back-home-button {
        width: 4em; /* Width of the button/icon */
        height: 4em; /* Height of the button/icon */
    }

    .video{
        min-height: 35vh;
    }

    .image-gallery a {
        width: calc(50% - 5px); /* Adjust width considering 10px gap */
    }

    .text-section {
        padding: 1.125em;
    }

    .table-and-map-container {
        flex-direction: column; /* Stack table and map on smaller screens */
    }

    #osm-map, .table-wrapper {
        width: 100%; /* Full width on smaller screens */
    }
}
